.bg-dark {
  background-color: #1a1a1a !important;
}

.bg-secondary {
  background-color: #e2e6e9 !important;
}

.bg-light {
  background-color: #f0f2f4 !important;
}

.black-and-white {
  filter: grayscale(100%);
}

hr {
  background-color: #e2e6e9;
}

.font-weight-bold,
.regions thead th {
  font-weight: 600 !important;
}

.regions tbody tr td:nth-child(1):hover {
  text-decoration: underline;
}

.navbar-icon {
  bottom: 0.4rem;
}

.navbar-name {
  margin-left: 3rem !important;
}

@media only screen and (max-width: 575px) {
  .navbar-icon {
    position: relative !important;
    display: inline !important;
    bottom: 0.1rem;
  }

  .navbar-name {
    margin-left: 0rem !important;
  }
}

/*
.regions td:nth-child(1) {
  text-decoration: underline;
  cursor: pointer;
}

.regions tr:nth-child(1) td {
  text-decoration-color: #ff4444;
}
.regions tr:nth-child(2) td {
  text-decoration-color: #ffbb33;
}
.regions tr:nth-child(3) td {
  text-decoration-color: #00c851;
}
.regions tr:nth-child(4) td {
  text-decoration-color: #33b5e5;
}
.regions tr:nth-child(5) td {
  text-decoration-color: #2bbbad;
}
.regions tr:nth-child(6) td {
  text-decoration-color: #4285f4;
}
.regions tr:nth-child(7) td {
  text-decoration-color: #aa66cc;
}
.regions tr:nth-child(8) td {
  text-decoration-color: #7c7c7c;
}
*/
.regions tbody tr:last-of-type {
  border-bottom: 1px solid #dee2e6 !important;
}

.bi-x {
  position: relative;
  left: 0.4rem;
}

.hovered {
  fill: #e2e6e9 !important;
}

.clicked {
  fill: #b6c0c8 !important;
}

.regions {
  border-top: none;
}

.regions tbody tr td:nth-child(1),
.bi-x {
  cursor: pointer;
}

.regions tbody tr:nth-child(1) {
  border-left: 2px solid #d46889;
}
.regions tr:nth-child(2) {
  border-left: 2px solid #46b88f;
}
.regions tr:nth-child(3) {
  border-left: 2px solid #a1cd8c;
}
.regions tr:nth-child(4) {
  border-left: 2px solid #ddbea8;
}
.regions tr:nth-child(5) {
  border-left: 2px solid #ea907c;
}
.regions tr:nth-child(6) {
  border-left: 2px solid #eebc82;
}
.regions tr:nth-child(7) {
  border-left: 2px solid #e6e19f;
}
.regions tr:nth-child(8) {
  border-left: 2px solid #efb0a1;
}

/* HISTORIE */
/* UDALOSTI */
#udalosti tbody {
  background-color: #f0f2f4 !important;
}

#udalosti tr {
  border-bottom: 1px solid #e2e6e9;
}

#udalosti td {
  border: none !important;
}

#udalosti tr:nth-last-child(1),
#udalosti tr:nth-last-child(2) {
  border: none !important;
}

#udalosti tr:nth-child(odd) {
  cursor: pointer;
  user-select: none;
}

.fa-chevron-down,
.fa-chevron-right {
  font-size: 1rem;
  margin-right: 0.4rem;
}

.event-detail {
  margin-top: -1rem;
}

/* POSTAVY */
.list-group li {
  border: none;
  border-top: 1px solid #e2e6e9;
}

.card {
  border: none;
}

.list-group li {
  background-color: #f0f2f4;
  color: #212529 !important;
  cursor: pointer;
  user-select: none;
}

.list-group .active {
  background-color: #e2e6e9 !important;
  color: #212529 !important;
  border: none;
}

@media only screen and (min-width: 767px) {
  .list-group li:first-child {
    border: none;
  }
}

@media only screen and (max-width: 576px) {
  .gallery .img-fluid {
    width: 50% !important;
  }
}

@media only screen and (max-width: 400px) {
  .gallery .img-fluid {
    width: 75% !important;
  }
}

/* HEADER */
.white-border {
  margin-top: 50px;
  border: 5px solid rgba(255, 255, 255, 0.9);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.9);
  backdrop-filter: opacity(0.8);
  user-select: none;
}

header {
  min-height: 370px;
  font-family: "Roboto Mono";
}

header h1 {
  font-size: 72px;
  line-height: 120px;
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
  letter-spacing: 20px;
}

header h2 {
  font-size: 36px;
  line-height: 82px;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 1);
  letter-spacing: 10px;
}

header img {
  top: 200px; /* for readability */
  transform: translateX(-50%) translateY(-50%);
}

.place-caption {
  margin-top: 30px;
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
}

@media only screen and (max-width: 767px) {
  header h1 {
    font-size: 64px;
    line-height: 120px;
  }

  header h2 {
    font-size: 32px;
    line-height: 82px;
  }

  .place-link {
    font-size: 18px;
  }
}

@media only screen and (max-width: 600px) {
  header h1 {
    font-size: 48px;
    line-height: 80px;
  }

  header h2 {
    font-size: 24px;
    line-height: 60px;
  }

  .white-border {
    margin-top: 80px;
  }

  .place-caption {
    margin-top: 40px;
  }
}

@media only screen and (max-width: 460px) {
  header h1 {
    font-size: 24px;
    line-height: 70px;
  }

  header h2 {
    font-size: 18px;
    line-height: 51px;
  }

  .place-caption {
    margin-top: 50px;
  }

  .place-link {
    font-size: 16px;
  }
}

@media only screen and (max-width: 372px) {
  .place-caption {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 315px) {
  header h1 {
    font-size: 18px;
    line-height: 70px;
  }

  header h2 {
    font-size: 16px;
    line-height: 51px;
  }
  .white-border {
    margin-top: 60px;
  }
}

/* OTHER */
main img,
#obrazky img {
  border: 5px solid white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

footer,
footer a,
footer a:hover {
  color: #8d8d8d;
}

.btn-secondary {
  background-color: #529ec4;
  border: none;
}
